*{
    background-color: black;
    color: white;
}
body{
    margin: 0;
   padding: 1rem;
}
.container{
    padding: 1rem;
}

.grid{
display: grid;
grid-template-columns: auto auto auto auto;
gap: 2rem;
}

nav{
    border-bottom: 0.2rem solid white;
}

.card{
   border: 0.1rem solid white;
   border-radius: 0.5rem;
   padding: 0.2rem;
   display: flex;
   flex-flow:column ;
   gap: 0.4rem;
}

.carditem{
    border-radius: 2rem;
    padding-bottom: 1rem;
}
